$orange: #F5A623;
$blue: #54B9D3;
$red: #FF4F6D;
$memorise-background: #f0f0f0;
$secondary-font: Roboto;

.projects {
    padding-top: 120px;
    position: relative;
}

.text-projects {
    color: $orange;
    text-align: center;
    max-width: 100%;
    font-size: 20px;
    margin: 0 auto;
    font-size: 24px;
    padding-top: 50px;
}

.projects-items {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.projects-items__box {
    width: 250px;
    height: 250px;
    border-radius: 5px;
    border: 5px solid white;
    margin: 15px;
    transition: all 0.05s ease-in-out;
    position: relative;

    &:hover, &:focus{
        background-color: rgba(255, 189, 82, 0.7);

        .project-items__background {
            filter: blur(2px);
        }

        .project__text{
            opacity: 1;
            background: rgba(255, 255, 255, 0.7);
        }   
    }
}

.project-items__background--memorise {
    background-image: url("/images/pexeso.gif");
    background-size: 97%;
}

.project-items__background--stream-jokes {
    background-image: url("/images/streamjokes.gif");
    background-size: contain;
}

.project-items__background--tictactoe {
    background-image: url("/images/tictactoe.gif");
    background-size: contain;
}

.project-items__background, .project__text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.project__text--heading, .text-projects {
    font-family: $secondary-font;
}

.project__text--heading {
    text-shadow: 0 0 2px #fff,
        -1px -1px 0 #727272,
        -1px -1px 1px #867b7b,
        -1px 0 1px #292828;
}

.project-items__background--memorise, .project-items__background--stream-jokes{
    background-position: center center;
    background-color: $memorise-background;
    background-repeat: no-repeat;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 2px black;
    transition: all 0.3s ease-in-out;
}

.project__text{
    font-size: 36px;
    font-weight: bold;
    color: $red;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    text-align: center;
    padding-top: 50px;

}

.project__text-items {
    margin-top: 25px;
    font-weight: 600;
    color: black;
    font-size: 20px;
    list-style-type: disc;
    text-align: left;
    margin-left: 40px;
    line-height: 1.25;
}



@media only screen and (min-width: 1015px) {
    .projects {
        position: relative;
        margin: 0;
        min-height: 800px;
        padding: 0;
    }

    .projects-items {
        flex-direction: row;
        top: 50%;
        bottom: 50%;
        margin: 80px 0 50px 0;  
    }

    .projects-items__box {
        height: 300px;
        width: 300px;
    }

    .project__text-items {
        margin-top: 35px;
        margin-left: 40px;
    }

    .text-projects {
        padding-top: 100px;
    }
}
