.about {
    position: relative;
}
.about-header{
width: 100%;
height: 250px;
background-color:  #54B9D3;
z-index: -99;
}

.about-header__skyline {
    height: auto;
    width: 100%;
    max-width: 800px;
    float: left;
    bottom: 0;
    z-index: 10;
    margin-top: 55px;
}

.about-header__profile_picture {
    width: 200px;
    height: auto;
    display: flex;
    margin: -100px auto 0 auto;
}



.about-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.text {
text-align: center;
max-width: 80%;
font-size: 20px;
margin: 0 auto;
color: black;
}

.text--code {
color: #53B8D2;
}

.text--design {
color: #FFBD52;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}


.skill-set {
    background: white;
    border-radius: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 5px 0px #E9F0F3;
    margin-top: 20px;
    padding: 20px 0;
    max-width: 300px;
}

.skills-icon {
    height: 70px;
}

.job {
color: #F5A623;
text-shadow: 1px 1px 1px #BDBDBD;
margin: 10px 0;
}

.stack {
color: #53B8D2;
margin: 10px 0;
}

.skills-list {
    list-style: none;
    margin: 0 0 0 -100px;
}

.skills-list__item {

}

.skills-list__item::before {
    content: " ";
    display: inline-block;
    background: url("/images/tick.svg") no-repeat;
    height: 1em;
    width: 1em;
    padding-right: 10px;
    position: relative;
    top: 3px;
}

.divider {
    display: none;
    height: 40vh;
    background: rgba(83, 184, 210, 0.26);
    width: 0.5vw;
}

@media only screen and (min-width: 1015px) {
    .about {
        min-height: 900px;
        position: relative;
    }
    .about-header__skyline {
        float: right;
    }

    .about-header__profile_picture {
        margin: -100px 0 0 50px;
    }

    .about-content {
        margin-top: -40px;
    }

    .text {
        max-width: 40%;

    }
    .skills {
        flex-direction: row;
        justify-content: center;
        border-radius: 10px;
       
    }
    .skill-set {
        border-radius: 0;
        height: 300px;
        justify-content: space-evenly;
        padding: 0;
    }

    .job {
        margin: -20px;
    }
    .stack {
        margin-bottom: -10px;
    }
}