.home {
    padding-top: 9vh;
    overflow: hidden;
    position: relative;
    height: 100vh;
    box-sizing: border-box;
  }
  
  .home__sky {
    width: 70%;
    min-width: 40rem;
    z-index: -10;
    position: absolute;
    animation: sun 40s linear infinite;
  }
  
  /* @keyframes sun {
    0%   { transform: translate(-100%, 0); }
    100% { transform: translate(100%, 0); }
  } */
  
  
  .home__intro {
    top: 25vh;
    text-align: center;
    line-height: 200%;
    font-size: 26px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  .home__intro-name {
    color: #F5A623;
    text-shadow: 1px 1px 1px #BDBDBD;
  }
  
  .home__intro-front-end {
    color: #4D4D4D;
  }
  
  
  .home__seagull-flying {
    animation: moving 20s linear infinite;
    position: relative;
    float: right;
    margin-top: 20vh;
  }

  .home__seagull-flapping {
    animation: seagull-flapping 1s steps(1, end) infinite;
    height: 54px;
    width: 86px;
    z-index: -5;
    right: 0;
  }
  
  
  .home__skyline {
    width: 100%;
    min-width: 1150px;
    min-height: 48vh;
    background-image: url("/images/Skyline.svg");
    background-repeat: round space; 
    animation: skyline 1000s linear infinite; 
    margin-top: 25vh;
  }
  
  .home__ocean {
    width: 100%;
    min-height: 50vw;
    background: #54B9D3;
    position: absolute;
  }
  
  @keyframes seagull-flapping {
    0% {background-image: url("/images/SeagullWingUp.svg");}
    33% {background-image: url("/images/SeagullWingDown.svg");}
    66% {background-image: url("/images/SeagullWingUp.svg");}
    100% {background-image: url("/images/SeagullWingDown.svg");} 
  
  }

  @keyframes moving {
    0% {right:0; top: 1vw;}
    25% {right:25vw; top: 3vw;}
    50% {right:50vw; top: 5vw;}
    75% {right:75vw; top: 4vw;}
    100% {right:100vw; top: 2vw;}
  }
  

  //   @keyframes skyline {
//     from { background-position: -10000% 0%; }
//     to { background-position: 10000% 0%; }
//   }