.home {
    padding-top: 10%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
  }
  
  .home__sky {
    width: 70%;
    min-width: 800px;
    min-height: 27%;
    max-width: 1000px;
    z-index: -10;
    animation: sun 40s linear infinite;
  }
  
  
  .home__intro {
    top: 20%;
    text-align: center;
    line-height: 200%;
    font-size: 26px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  .home__intro-name {
    color: #F5A623;
    text-shadow: 1px 1px 1px #BDBDBD;
  }
  
  .home__intro-front-end {
    color: #4D4D4D;
  }
  
  
  .home__seagull-flying {
    animation: seagull-flying 20s linear infinite;
    position: absolute;
    right: 0;
  }

  .home__seagull-flapping {
    animation: seagull-flapping 1s steps(1, end) infinite;
    height: 35px;
    width: 60px;
    z-index: -5;
    right: 0;
    background-repeat: no-repeat;
  }
  
  
  .home__skyline {
    width: 100%;
    min-width: 750px;
    max-height: 40%;
    margin-top: 2%;
  }

  .home__ocean {
    min-height: 277px;
    z-index: -1;
  }
  .home__waves {
    width: 100%;
    height: 40px;
    bottom: 0;
    background-image: url("/images/Waves.svg");
    background-repeat: space repeat-x;
    background-size: contain;
    position: absolute;
    animation: waves 1s linear infinite;
  }



  @keyframes sun {
    0%   { transform: translate(-100%, 0); }
    100% { transform: translate(100%, 0); }
  } 
  
  @keyframes seagull-flapping {
    0% {background-image: url("/images/SeagullWingUp.svg");}
    33% {background-image: url("/images/SeagullWingDown.svg");}
    66% {background-image: url("/images/SeagullWingUp.svg");}
    100% {background-image: url("/images/SeagullWingDown.svg");} 
  
  }

  @keyframes seagull-flying {
    from {right:0}
    to {right:100vw}
  }


  @keyframes waves {
    0% {bottom: 2%}
    50% {bottom: 4%}
    100% {bottom: 2%}
  }


  @media only screen and (min-width: 1400px) { 
    .home {
      padding-top: 5%;
    }
    .home__seagull-flapping {
      height: 45px;
      width: 72px;
    }
  }


  @media only screen and (min-width: 1500px) { 
    .home__waves {
      max-height: 278px;
    }
  }
