.home {
    padding-top: 9vh;
    overflow: hidden;
    position: relative;
    height: 100vh;
    box-sizing: border-box;
  }
  
  .home__sky {
    width: 70%;
    min-width: 800px;
    min-height: 27vh;
    z-index: -10;
    animation: sun 40s linear infinite;
  }
  
  
  .home__intro {
    top: 25vh;
    text-align: center;
    line-height: 200%;
    font-size: 26px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  .home__intro-name {
    color: #F5A623;
    text-shadow: 1px 1px 1px #BDBDBD;
  }
  
  .home__intro-front-end {
    color: #4D4D4D;
  }
  
  
  .home__seagull-flying {
    animation: seagull-flying 20s linear infinite;
    position: absolute;
    right: 0;
  }

  .home__seagull-flapping {
    animation: seagull-flapping 1s steps(1, end) infinite;
    height: 35px;
    width: 60px;
    z-index: -5;
    right: 0;
    background-repeat: no-repeat;
  }
  
  
  .home__skyline {
    width: 100%;
    min-width: 1100px;
    min-height: 70vh;
    background-image: url("/images/Skyline.svg");
    background-repeat: round space; 
    animation: skyline 2000s linear infinite; 
    margin-top: 2vh;
  }


  // @keyframes sun {
  //   0%   { transform: translate(-100%, 0); }
  //   100% { transform: translate(100%, 0); }
  // } 
  
  @keyframes seagull-flapping {
    0% {background-image: url("/images/SeagullWingUp.svg");}
    33% {background-image: url("/images/SeagullWingDown.svg");}
    66% {background-image: url("/images/SeagullWingUp.svg");}
    100% {background-image: url("/images/SeagullWingDown.svg");} 
  
  }

  // @keyframes seagull-flying {
  //   from {right:0}
  //   to {right:100vw}
  // }

  //   @keyframes skyline {
  //   from { background-position: 10000% 0%; }
  //   to { background-position: -10000% 0%; }
  // }