$font-family-base: Assistant;

.contact {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    position: relative;
  }
  
  .contact-form {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 80%;
  }
  
  .contact-options {
    display: flex;
    align-self: center;
  }
  
  .question {
    color: #54B9D3;
    text-align: center;
  }
  
  .contact-alternative {
    color: #FFBD52;
    text-align: center;
  }
  
  .skyline_contact {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
  }
  
  ::placeholder {
    color: rgba(255,189,82,0.34);
    font-family: $font-family-base;
    font-size: 16px;
  }
  
  input {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
  }
  
  .input {
    margin: 10px 0;
  }
  
  .message-box {
    height: 200px;
  }
  
  .submit {
    width: 100px;
    border: 0.3rem solid white;
    background: #54B9D3;
    font-size: 16px;
    font-weight: bold;
    color: white;
    font-family: $font-family-base;
    padding: 0.2rem;
    align-self: flex-end;   
  }
  
  .contact-choices {
    color: #54B9D3;
    font-size: 20px;
    margin-bottom: 0;
  }
  
  .contact-details {
    text-shadow: 2px 2px 1px white;
    margin-top: 1em;
  }
  
  .contact-choice-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-icon {
    max-width: 80px;
    width: 30%;
    height: auto;
    margin-right: 5px;
  }
  
  .phone-box {
    margin-right: 20px;
  }
  
  .contact-options{
    width: 50%;
    justify-content: space-evenly;
  }

  @media only screen and (min-width: 850px) {
    .contact-form {
      width: 50%;
    }
  }