.seagull-flying {
  animation: seagull-flying 6s linear infinite;
  position: absolute;
}

.seagull-flapping {
  animation: seagull-flapping 1s steps(1, end) infinite;
  height: 35px;
  width: 60px;
  background-repeat: no-repeat;
}

.silvitko--absolute {
  position: absolute;
  right: 0;
  bottom: 0;
}

.silvitko__paddling {
  animation: paddling 2s steps(1, end) infinite;
  height: 100px;
  width: 100px;
  background-size: 100% 100%; /*resize when in mobile/tablet to make smaller*/
  background-repeat: no-repeat;
}
  
.silvitko__sailing {
  animation: sailing 10s linear infinite;
  position: relative;
  float: right;
  height: 100px;
  width: 100px;
}

@keyframes seagull-flapping {
  0% {background-image: url("/images/SeagullWingUp.svg");}
  33% {background-image: url("/images/SeagullWingDown.svg");}
  66% {background-image: url("/images/SeagullWingUp.svg");}
  100% {background-image: url("/images/SeagullWingDown.svg");} 

}

@keyframes seagull-flying {
  from {right:0}
  to {right:100vw}
}



@keyframes paddling {
  0% {background-image: url("/images/Paddle_Left_C.svg");}
  25% {background-image: url("/images/Paddle_Left.svg");}
  50% {background-image: url("/images/Paddle_Right_C.svg");}
  75% {background-image: url("/images/Paddle_Right.svg");}
  100% {background-image: url("/images/Paddle_Right.svg");}
}

@keyframes sailing {
  from {right: 0;} 
  to {right: 100vw;}
}

