@import url('https://fonts.googleapis.com/css?family=Assistant');

$font-family-base: Assistant;
$light-blue: #ECF7FC;

body {
  margin: 0;
  background: $light-blue;
  font-family: $font-family-base;
}






